body {
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.5;
}

.sender-column {
  text-align: right;
}

.sender-column time {
  text-align: right;
  margin-top: 20px;
  font-style: normal;
  display: inline-block;
}

.recipient-column {
  margin-top: 20px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

p, ul, ol, dl, address {
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
}

blockquote {
  margin: 0;
  margin-bottom: 20px;
}
